In [46]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("netflix.csv")

In [19]:
data.isnull().sum() #shows the null values in the dataframe

title                  0
rating                 0
ratingLevel           59
ratingDescription      0
release year           0
user rating score    395
user rating size       0
dtype: int64

In [20]:
data.notnull().sum() #shows the non-null values in the dataframe

title                1000
rating               1000
ratingLevel           941
ratingDescription    1000
release year         1000
user rating score     605
user rating size     1000
dtype: int64

In [4]:
data.head(n=10)

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80
4,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80
5,Supernatural,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,95.0,80
6,Breaking Bad,TV-MA,For mature audiences. May not be suitable for...,110,2013,97.0,80
7,The Vampire Diaries,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2017,91.0,80
8,The Walking Dead,TV-MA,For mature audiences. May not be suitable for...,110,2015,98.0,80
9,Pretty Little Liars,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,96.0,80

In [5]:
data.tail(n=10)

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
990,My Animal Friends,TV-Y,Suitable for all ages.,10,2013,NaN,82
991,Dawn of the Croods,TV-Y7,Suitable for children ages 7 and older,41,2017,72.0,80
992,Alpha and Omega: Dino Digs,TV-G,Suitable for all ages.,35,2016,NaN,82
993,Wiener Dog Internationals,G,General Audiences. Suitable for all ages.,35,2015,NaN,82
994,Pup Star,G,General Audiences. Suitable for all ages.,35,2016,NaN,82
995,The BFG,PG,"for action/peril, some scary moments and brief...",60,2016,97.0,80
996,The Secret Life of Pets,PG,for action and some rude humor,60,2016,NaN,81
997,Precious Puppies,TV-G,Suitable for all ages.,35,2003,NaN,82
998,Beary Tales,TV-G,Suitable for all ages.,35,2013,NaN,82
999,Growing Up Wild,G,NaN,35,2016,80.0,80

In [6]:
data.columns

Index(['title', 'rating', 'ratingLevel', 'ratingDescription', 'release year',
       'user rating score', 'user rating size'],
      dtype='object')

In [7]:
data.shape

(1000, 7)

# LOC = LABEL BASED SELECTION
# ILOC = INDEX LABEL BASED SELECTION

In [8]:
data.loc[(data.rating=='PG-13')]

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
250,The Waterboy,PG-13,language and some crude sexual humor,80,1998,82.0,80
251,10 Things I Hate About You,PG-13,"adult content, adult language and mild violence",80,1999,68.0,80
253,How to Lose a Guy in 10 Days,PG-13,some sex-related material,80,2003,56.0,80
254,The Benchwarmers,PG-13,"crude and suggestive humor, and for language",80,2006,77.0,80
255,Step Up,PG-13,"thematic elements, brief violence and innuendo",80,2006,64.0,80
257,Twilight,PG-13,some violence and one sexual scene,80,2008,89.0,80
273,Mean Girls 2,PG-13,"For some rude and suggestive material, and for...",80,2011,NaN,82
286,Safe Haven,PG-13,thematic material involving threatening behavi...,80,2013,62.0,80
300,The Waterboy,PG-13,language and some crude sexual humor,80,1998,82.0,80
302,The Wedding Planner,PG-13,language and some sexual humor,80,2001,NaN,82
306,Twilight,PG-13,some violence and one sexual scene,80,2008,89.0,80
322,Mean Girls 2,PG-13,"For some rude and suggestive material, and for...",80,2011,NaN,82
335,Trouble with the Curve,PG-13,Parents strongly cautioned. May be inappropria...,80,2012,63.0,80
372,Unconditional,PG-13,some violent content and mature thematic elements,80,2012,NaN,82

In [9]:
data.loc[(data.rating=='R')]

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
14,The Hunter,R,language and brief violence,100,2011,NaN,82
35,Hyena Road,R,"bloody war violence, language throughout and s...",100,2015,NaN,82
50,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
87,Meet the Blacks,R,"pervasive language, some sexual material, viol...",100,2016,79.0,80
90,Sausage Party,R,"strong crude sexual content, pervasive languag...",100,2016,91.0,80
92,Kevin Hart: What Now?,R,"some sexual material, and language throughout",100,2016,97.0,80
100,The Life Aquatic with Steve Zissou,R,"language, some drug use, violence and partial ...",100,2004,NaN,82
101,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
117,5 to 7,R,some sexual material,100,2014,NaN,82
150,The Brothers,R,strong sexual content and language,100,2001,NaN,82
170,Dope,R,"language, drug content, sexuality/nudity, and ...",100,2015,79.0,80
217,The Angriest Man in Brooklyn,R,Restricted. May be inappropriate for children ...,100,2014,NaN,82
218,5 to 7,R,some sexual material,100,2014,NaN,82
303,Blow,R,"pervasive drug content and language, some viol...",100,2001,78.0,80
334,Magic Mike,R,"pervasive sexual content, brief graphic nudity...",100,2012,77.0,80
344,Sausage Party,R,"strong crude sexual content, pervasive languag...",100,2016,91.0,80
381,London Has Fallen,R,strong violence and language throughout,100,2016,96.0,80
431,London Has Fallen,R,strong violence and language throughout,100,2016,96.0,80

In [14]:
data.loc[(data.rating=='R') & (data['release year']==2016) | (data.rating=='R') & (data['release year']==2015)] #dont use and, or keywords

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
35,Hyena Road,R,"bloody war violence, language throughout and s...",100,2015,NaN,82
87,Meet the Blacks,R,"pervasive language, some sexual material, viol...",100,2016,79.0,80
90,Sausage Party,R,"strong crude sexual content, pervasive languag...",100,2016,91.0,80
92,Kevin Hart: What Now?,R,"some sexual material, and language throughout",100,2016,97.0,80
170,Dope,R,"language, drug content, sexuality/nudity, and ...",100,2015,79.0,80
344,Sausage Party,R,"strong crude sexual content, pervasive languag...",100,2016,91.0,80
381,London Has Fallen,R,strong violence and language throughout,100,2016,96.0,80
431,London Has Fallen,R,strong violence and language throughout,100,2016,96.0,80

In [21]:
data.loc[(data.rating=='R') & (data['user rating score']>=90)]

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
90,Sausage Party,R,"strong crude sexual content, pervasive languag...",100,2016,91.0,80
92,Kevin Hart: What Now?,R,"some sexual material, and language throughout",100,2016,97.0,80
344,Sausage Party,R,"strong crude sexual content, pervasive languag...",100,2016,91.0,80
381,London Has Fallen,R,strong violence and language throughout,100,2016,96.0,80
431,London Has Fallen,R,strong violence and language throughout,100,2016,96.0,80

In [23]:
data.loc[(data.rating=='R'),('title','user rating score')]

                                  title  user rating score
1                   Lucky Number Slevin                NaN
14                           The Hunter                NaN
35                           Hyena Road                NaN
50                  Lucky Number Slevin                NaN
87                      Meet the Blacks               79.0
90                        Sausage Party               91.0
92                Kevin Hart: What Now?               97.0
100  The Life Aquatic with Steve Zissou                NaN
101                 Lucky Number Slevin                NaN
117                              5 to 7                NaN
150                        The Brothers                NaN
170                                Dope               79.0
217        The Angriest Man in Brooklyn                NaN
218                              5 to 7                NaN
303                                Blow               78.0
334                          Magic Mike               77.0
344                       Sausage Party               91.0
381                   London Has Fallen               96.0
431                   London Has Fallen               96.0

In [30]:
data.iloc[[0,1,2,3,4,5],0:2] #[rows,columns]

                   title rating
0           White Chicks  PG-13
1    Lucky Number Slevin      R
2         Grey's Anatomy  TV-14
3           Prison Break  TV-14
4  How I Met Your Mother  TV-PG
5           Supernatural  TV-14

In [31]:
data.iloc[:5]

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,NaN,82
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80
4,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80

In [32]:
data.iloc[:5,:2]

                   title rating
0           White Chicks  PG-13
1    Lucky Number Slevin      R
2         Grey's Anatomy  TV-14
3           Prison Break  TV-14
4  How I Met Your Mother  TV-PG

In [35]:
"""
data.loc reads like 0-999 rows which is 1000

data.iloc reads 0-1000 rows whick is 1001
"""

'\ndata.loc reads like 0-999 rows which is 1000\n\ndata.iloc reads 0-1000 rows whick is 1001\n'

In [36]:
data.describe() #gives information of dataset

       ratingDescription  release year  user rating score  user rating size
count         1000.00000   1000.000000         605.000000       1000.000000
mean            67.36600   2010.335000          84.094215         80.783000
std             30.78561      8.877927          12.344371          0.973066
min             10.00000   1940.000000          55.000000         80.000000
25%             35.00000   2007.000000          75.000000         80.000000
50%             60.00000   2015.000000          88.000000         80.000000
75%             90.00000   2016.000000          95.000000         82.000000
max            124.00000   2017.000000          99.000000         82.000000

# One Hawt Encoding : Cleaning data 
for example replacing null values with mean values

In [37]:
data.isnull().sum()

title                  0
rating                 0
ratingLevel           59
ratingDescription      0
release year           0
user rating score    395
user rating size       0
dtype: int64

In [44]:
value = int(data['user rating score'].mean())
value

84

In [49]:
data.replace(to_replace=np.nan,value=value,inplace=True) #implace does permenant change

In [50]:
data

,title,rating,ratingLevel,ratingDescription,release year,user rating score,user rating size
0,White Chicks,PG-13,"crude and sexual humor, language and some drug...",80,2004,82.0,80
1,Lucky Number Slevin,R,"strong violence, sexual content and adult lang...",100,2006,84.0,82
2,Grey's Anatomy,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2016,98.0,80
3,Prison Break,TV-14,Parents strongly cautioned. May be unsuitable ...,90,2008,98.0,80
4,How I Met Your Mother,TV-PG,Parental guidance suggested. May not be suitab...,70,2014,94.0,80
...,...,...,...,...,...,...,...
995,The BFG,PG,"for action/peril, some scary moments and brief...",60,2016,97.0,80
996,The Secret Life of Pets,PG,for action and some rude humor,60,2016,84.0,81
997,Precious Puppies,TV-G,Suitable for all ages.,35,2003,84.0,82
998,Beary Tales,TV-G,Suitable for all ages.,35,2013,84.0,82
999,Growing Up Wild,G,84,35,2016,80.0,80

In [51]:
data.isnull().sum()

title                0
rating               0
ratingLevel          0
ratingDescription    0
release year         0
user rating score    0
user rating size     0
dtype: int64

# Replaced null values with mean values cause it will not create any problem in ML